<p>
  <strong>Label:</strong>
  <%= @holding_location.label %>
</p>

<p>
  <strong>Code:</strong>
  <%= @holding_location.code %>
</p>

<%= link_to 'Edit', edit_holding_location_path(@holding_location) %> |
<%= link_to 'View as JSON', format: :json %> |
<%= link_to 'All Holding Locations', holding_locations_path %>
