<!DOCTYPE html>
<html>
<head>
  <title>Locations</title>
  <%= stylesheet_link_tag    "locations/application", media: "all" %>
  <%= javascript_include_tag "locations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
  </div>
</body>
</html>
